@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4" style="font-weight: bolder">Welcome to Terra Chat 3000</h1>
    <br />
    <br />
    <form class="form" asp-action="isLoggedIn" method="post">
        <input type="text" name="name" placeholder="Enter your name" />
        <input type="text" name="password" placeholder="Enter your password" />
        <input type="submit" class="btn btn-success" value="Ok" />

    </form>
</div>
